*.[oa]
*.so
*.pyc
__pycache__

/docs/generated/

/vmc-core/obj/
/vmc-core/Makefile
/vmc-core/vmc-core.make

/unittests/obj/
/unittests/Makefile
/unittests/gtest_main.make
/unittests/vmc-core-tests.make
/unittests/vmc-core-tests

# Cython intermediate files
/pyvmc/core/*.cpp
/pyvmc/library/*.cpp
