*.[oa]
*.so
*.pyc
__pycache__

docs/generated/

vmc-core/obj/
vmc-core/Makefile
vmc-core/vmc-core.make

# Cython intermediate files
pyvmc/core/lattice.cpp
pyvmc/core/measurement.cpp
pyvmc/core/simulation.cpp
pyvmc/core/subsystem.cpp
pyvmc/library/renyi.cpp
