# Python dependencies of pyvmc
#
# This file is meant to be used with pip:
#
# $ pip install -r requirements.txt
#
# The recommended way to use pip is inside a virtualenv.  See
# http://pypi.python.org/pypi/virtualenv for details.

numpy
Cython>=0.17
Twisted
pytest
